@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

/* Red Thick Underline - For Titles */
.underlineThickR {
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(232,54,0,1);
    text-decoration-thickness: 6px;

    /* transition:  200ms ease-in-out; */
}

.underlineG {
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgb(31, 235, 48);
    text-decoration-thickness: 4px;

    /* transition:  200ms ease-in-out; */
}

/* Navbar */

nav {
    position: relative; 
    display: flex;
    width: 100%;
    gap: 3rem;

    align-items: center;

    margin-top: 10px;
}

.nav-logo {
    height: 80px;
}

.nav-logo-text {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav-item {
        display: none;
    }

    .nav-logo {
        display: block;
        height: 50px;
        position: relative;
        left: 0;
    }

    nav {
        gap: 1rem;
        justify-content: center;
    }

    .nav-logo-text {
        display: block;
    }
}

.nav-item {
    font-size: 1.5rem;
    font-weight: 400;

    text-decoration: none;
    color: black;

    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(31, 235, 48, 0);
    text-decoration-thickness: 4px;

    transition:  100ms ease-in-out;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration-color: rgba(31, 235, 48, 1);
}